*{
    margin:0;
    padding:0;
}
body{
    margin:0;
    font-family: "Jost",sans-serif;
    color:#292621;
}
.desno{
    float:right;
}

.header1{
    padding:9px 100px;
    border-bottom: 0.5px solid #edeff2;
    color: #292621;
    background-color: white;
}
.header1 .dugme{
    display:inline-block;
    padding:0 15px;
    font-size: 14px;
    cursor: pointer;
}
.header1 .desno{
    padding-right: 15px;
    display:inline-block;
}
.fa-brands{
    cursor: pointer;
    font-size: 14px;
    display:inline-block;
    color:dimgrey;
    transition:0.5s;
}
.ikonica{
    width:27px;
    display:inline-block;
    height:18px;
    text-align: right;
}
.ikonica:hover .fa-brands{
    transform:rotateY(180deg);
    color:#FF2020;
}
.ikonice{
    display:inline-block;
}
.desno .dugme{
    border-right:1px solid #edeff2;
}
.header2{
    width:100%;
    height:90px;
    position:sticky;
    top:0;
    background-color: white;
    box-shadow: 0 10px 20px rgba(41,38,33,0.2);
    z-index: 5;
    display:flex;
    align-items: center;
}
.header2 .container{
    display:flex;
    align-items: center;
    margin:0 100px;
    width:100%;
    justify-content: space-between;
}
.CapitalShop{
    padding-left:15px;
    display:inline-block;
    cursor: pointer;
}
.crvene_reci{
    display:inline-block;
    padding:22px;
    font-weight: 600;
    transition-duration: 0.3s;
    cursor: pointer;
    position:relative;
}
.crvene_reci:hover{
    color:#FF2020;
}
.sredina{
    position:relative;
}
.new{
    position:absolute;
    font-size:10px;
    top:6px;
    right:294px;
    width:28px;
    height:17px;
    background-color: #FF2020;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    border-radius: 4px;
    z-index: 1;
}
.cosak{
    position:absolute;
    width:7px;
    height:8px;
    transform: rotate(60deg);
    top:12px;
    left:5px;
    background-color: #FF2020;
    z-index:0;
}
.strelica{
    font-size: 10px;
}
.crvene_reci:hover .strelica{
    color:initial;
}
.lista{
    position:absolute;
    border-top: 3px solid #FF2020;
    border-radius: 7px 7px 3px 3px;
    background-color: white;
    width:170px;
    display:flex;
    flex-direction: column;
    padding: 17px 7px;
    top:73px;
    left:0px;
    box-shadow: 0 0 10px 3px rgba(41,38,33,0.1);
    visibility:hidden;
    transition-duration: 0.3s;
    z-index: 10;
}
.crvene_reci:hover .lista{
    top:78px;
    visibility: visible;
    color:initial;
}
.crvene_reci_liste{
    padding: 6px 10px;
}
.crvene_reci_liste:hover{
    color:#FF2020;
    letter-spacing: 0.9px;
    transition-duration: 0.3s;
}
.lista .cosak{
    top:-8px;
    width:0;
    height:0;
    transform: rotate(0);
    left:25px;
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ff2020;

}
.tri_ikonice{
    display:flex;
    width:180px;
    align-items: center;
    font-size: 25px;
    justify-content: space-evenly;
}
.tri{
    padding:10px;
    cursor: pointer;
    font-weight:lighter;
}
.tri:hover{
    color:#FF2020;
}
.kruzic{
    width:18px;
    height:18px;
    border-radius: 50%;
    background-color: #FF2020;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    position:absolute;
    top:0;
    right:0;
    transition-duration: 1s;
}
.tri:hover .kruzic{
    top:-4px;
}
.header3{
    width:auto;
    height:47px;
    background-color:#16161A;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header3 .beli_tekst{
    color:white;
    position:relative;
    right:5px;
}
.ShopNow{
    color:#cebd9c;
    font-weight: 500;
    text-decoration-line:underline;
    text-underline-position:under;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    letter-spacing:0;
    transition: 0.6s;
    cursor: pointer;
}
.ShopNow:hover{
    letter-spacing: 1.3px;
}
.velika_slika{
    background-image: url("covek.jpg");
    width:100%;
    height:100vh;
    background-position-y: top;
    background-size: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    animation-name: promena_pozadine;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
.sadrzaj_slike{
    width:84%;
    height:50vh;
    display:flex;
    animation-name: promena_strane;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
.tekst_slike{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.fashion_sale{
    color: #ff2020;
    font-family: 'Send Flowers',cursive;
    font-size: 43px;
    font-weight: 400;
}
.tekst_slike h1{
    font-size: 55px;
    font-weight:900;
    color:#292621;
    animation-name: bouncing;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
.tekst_slike p{
    text-align: center;
    font-size: 18px;
    padding: 0 50px;
    color: #74706b;
    margin-bottom: 31px;
    position:relative;
    animation-name:pojavljivanje;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
.tekst_slike .dugme{
    width:175px;
    height:48px;
    background-color:#292621;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    position:relative;
    animation-name:pojavljivanje1;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    cursor: pointer;
    border:solid 1px #292621;
}
@keyframes promena_pozadine{
    0%{background-image: url("covek.jpg");}
    44%{background-image: url("covek.jpg");}
    48%{background-image: url("zena.jpg");}
    94%{background-image: url("zena.jpg");}
    98%{background-image: url("covek.jpg");}
}
@keyframes promena_strane{
    0%{flex-direction: row;}
    43%{flex-direction:row;}
    48%{flex-direction:row-reverse;}
    93%{flex-direction: row-reverse;}
    98%{flex-direction: row;}
}
@keyframes bouncing{
    0% { transform: scale(0.9); color:#292621}
    2% { transform: scale(1.1); }
    4% {transform: scale(0.95);}
    6% {transform: scale(1.05)}
    8% {transform: scale(1.0)}
    44%{transform: scale(1.0);color:#292621}
    45%{color:transparent;}
    48% { transform:scale(0.9); color:transparent;}
    50% { transform: scale(1.1); color:#292621}
    52% { transform: scale(0.95);}
    54% {transform: scale(1.05)}
    56% {transform: scale(1.0); color:#292621}
    93%{color:#292621}
    94%{color:transparent}
    96%{transform:scale(1.0); color:transparent;}
    100%{transform:scale(0.9); color:transparent;}
}
@keyframes pojavljivanje{
    0%{top:80px; color:transparent;}
    5%{top:80px; color:transparent;}
    15%{top:0; color:#74706b;}
    43%{top:0; color:#74706b;}
    45%{top:0; color:transparent;}
    48%{top:80px; color:transparent;}
    53%{top:80px; color:transparent;}
    63%{top:0; color:#74706b;}
    94%{top:0; color:#74706b;}
    95%{top:0; color:transparent;}
    100%{top:80px; color:transparent;}
}
@keyframes pojavljivanje1{
    0%{top:40px; color:transparent; background-color: transparent; border:transparent;}
    10%{top:40px; color:transparent; background-color: transparent; border:transparent;}
    20%{top:0; color:white; background-color: #292621; border:#292621}
    43%{top:0; color:white; background-color: #292621; border:#292621}
    45%{top:0; color:transparent; background-color: transparent;border:transparent;}
    48%{top:40px; color:transparent; background-color: transparent;}
    58%{top:40px; color:transparent; background-color: transparent; border:transparent}
    68%{top:0; color:white; background-color: #292621; border:#292621}
    94%{top:0; color:white; background-color: #292621; border:#292621}
    95%{top:0; color:transparent; background-color: transparent; border:transparent;}
    100%{top:40px; color:transparent; background-color: transparent;border:transparent;}
}
.tekst_slike .dugme:hover{
    background-color: transparent;
    color:#292621;
}
.dugme_sa_strane{
    width:50px;
    height:100px;
    background-color: rgba(41,38,33,0.2);
    transition: 0.5s;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.dugme_sa_strane:hover{
    background-color: #292621;;
}
.prvi_red_slika{
    display:flex;
    justify-content: center;
    gap:25px;
    margin-top: 30px;
    position:relative;
}
.tri_slike{
    width:356px;
    height:310px;
    background-size: 100%;
    background-position: center;
    transition:0.5s;
    box-shadow: 0 -90px 90px rgba(41,38,33,0.8) inset;
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.prrva{
    background-image:url("prva_slika.webp");
}
.drruga{
    background-image:url("druga_slika.webp");
}
.trreca{
    background-image: url("treca_slika.webp");
}
.tri_slike:hover{
    background-size: 103%;
}
.tri_slike span{
    color:white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
    position:relative;
    top:0;
    transition: 0.5s;
}
.tri_slike .ShopNow{
    position:relative;
    top:3px;
    transition: 0.5s;
    color:transparent;
}
.tri_slike:hover span{
    top: -40px;
}
.tri_slike:hover .ShopNow{
    top:-40px;
    color:#cebd9c;
}
.krug{
    position:sticky;
    width:40px;
    height:40px;
    background-color: #FF2020;
    border-radius: 50%;
    top:600px;
    float:right;
    margin-right: 30px;
    z-index: 50;
    color:white;
    font-size:28px;
    -webkit-text-stroke: 1.5px #FF2020;
}
.krov{
    position:absolute;
    left:9px;
    top:10px;
    animation:penjanje 4s infinite;
    animation-delay:-1.5s;
    cursor: pointer;
}
.krov2{
    animation-delay:0s;
}
@keyframes penjanje{
    0%{color:transparent; transform: translateY(0)}
    50%{color:white}
    100%{color:transparent; transform: translateY(-15px);}
}
.trending_this_week{
    margin:100px 115px 40px;
    font-size: 17px;
    display:flex;
    justify-content: space-between;
    border-bottom:#e2e2e2 solid 1px;
}
.reci{
    display:flex;
    gap:15px;
    font-weight: 600;
}
.rec{
    padding:0 12px 36px;
    font-size: 16px;
    transition: 0.05s;
}
.rec:hover{
    border-bottom: #FF2020 solid 4px;
}
#Men{
    color:#FF2020;
    border-bottom: #FF2020 solid 4px;
}
.pomeranje_slika{
    height:397px;
    width:1092px;
    position:relative;
    overflow:hidden;
}
.div_sa_slikom{
    width:255px;
    height:397px;
    position:absolute;
    left:1395px;
    animation-name: pomeranje;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}
.slika{
    width:255px;
    height:286px;
    background-size: 100%;
    background-position: center;
    transition:0.5s;
    cursor: pointer;
    position:relative;
}
.ispod_slike{
    height:111px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#74706b;
}
.cene{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom:6px;
    font-weight: 600;
    transition:0.3s;
    cursor: pointer;
}
.div_sa_slikom:hover .cene{
    color:#292621;
}
.div_sa_slikom p{
    transition:0.3s;
    cursor: pointer;
}
.div_sa_slikom:hover p{
    color:#FF2020;
}
.cene span{
    margin-left: 12px;
    color:#cebd9c;
    text-decoration:line-through;
}
.div_sa_slikom:hover .slika{
    background-size: 103%;
}
.ikonice_slike{
    width:195px;
    height:50px;
    display:flex;
    position:absolute;
    bottom:15px;
    left:30px;
    visibility:hidden;
    transition:0.5s;
}
.ikonica_slike{
    background-color: white;
    width:65px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color:#2e2e2e;
    transition:0.2s;
}
.ikonica_slike:hover{
    background-color: #FF2020;
    color:white;
}
.div_sa_slikom:hover .ikonice_slike{
    visibility:visible;
}
.belo{
    background-image: url(prva_drugog_reda.webp);
}
.sportista{
    background-image: url(druga_drugog_reda.webp);
}
.beelo{
    background-image: url(treca_drugog_reda.webp);
}
.duks{
    background-image: url(cetvrta_drugog_reda.webp);
}
.krema{
    background-image: url(krema.jpg);
}
.flasica{
    background-image: url(flasica.webp);
}
.odeca{
    background-image: url(odeca.webp);
}
.sat{
    background-image: url(sat.webp);
}
.prva{
    animation-delay: -15s;
}
.druga{
    animation-delay: -12s;
}
.treca{
    animation-delay: -9s;
}
.cetvrta{
    animation-delay: -6s;
}
.peta{
    animation-delay: -3s;
}
.sesta{
    animation-delay: 0s;
}
@keyframes pomeranje{
    0%{transform:translate(0);}
    15.66%{transform: translate(0);}
    16.66%{transform: translate(-279px);}
    31.32%{transform:translate(-279px)}
    33.32%{transform:translate(-558px)}
    47.98%{transform:translate(-558px)}
    49.98%{transform: translate(-837px);}
    64.64%{transform:translate(-837px)}
    66.64%{transform:translate(-1116px)}
    81.33%{transform: translate(-1116px);}
    83.33%{transform: translate(-1395px);}
    98%{transform:translate(-1395px)}
    100%{transform: translate(-1674px);}
}
.pomeranje_slika_sve{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.strelice{
    color:rgb(173, 173, 173);
    font-size:43px;
    -webkit-text-stroke: 3px white;
    cursor: pointer;
    transition: 0.3s;
}
.strelice:hover{
    color:#FF2020;
}
.customer_testimonial{
    margin-top: 100px;
    width:100%;
    height:275px;
    padding:80px 0;
    background-color: #F3EAD8;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
.customer_testimonial h2{
    font-size: 34px;
    margin-bottom:8px;
}
.tekstt{
    width: 526px;
    font-size: 22px;
    text-align: center;
}
.petey{
    display:flex;
}
.pored_slicice{
    display:flex;
    flex-direction: column;
    width:142px;
    height:63px;
    align-items: flex-start;
    padding-left: 20px;
}
.pored_slicice span{
    font-size: 14px;
    font-weight: 600;
    color:#2e2e2e;
}
.pored_slicice p{
    color:#74706B;
}
.sa_strelicama{
    display:flex;
    align-items: center;
    gap:180px;
}
.sa_strelicama .strelice{
    font-size:30px;
    color:#929191;
    -webkit-text-stroke: 2px #F3EAD8;
    cursor:pointer;
}
.you_may_like{
    margin:95px 0 40px;
    text-align: center;
}
.you_may_like h2{
    font-size: 30px;
    font-weight: 600;
}
.latest_news{
    margin-top: 100px;
    height:715px;
    padding:80px 0 30px;
    background-color: #f6f6f6;
}
.latest_news h1{
    font-size: 30px;
    text-align: center;
}