*{
    padding:0;
    margin:0;
}
body{
    padding:100px 70px;
}
.tekst{
    width:98%;
    display:grid;
    grid-template-columns: 400px 1fr;
}
p{
    color:gray;
    font-size: 17px;
}
h1{
    margin-bottom: 20px;
    font-size: 30px;
}
.slike{
    gap:1vw;
    width:100%;
    height:auto;
    margin:70px 0px;
    display:grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(3, 13vw);
    grid-template-areas: 
    "prva druga treca treca"
    "cetvrta cetvrta treca treca"
    "cetvrta cetvrta peta sesta";
}
.pravougaonik{
    background-color: rgb(233, 233, 233);
    display:grid;
    place-items: center;
    color:gray;
    font-size: 2.5vw;
}
.prvi{
    grid-area: prva;
}
.drugi{
    grid-area:druga;
}
.treci{
    grid-area:treca;
    font-size: 5vw;
}
.cetvrti{
    grid-area:cetvrta;
    font-size: 5vw;
}
.peti{
    grid-area:peta;
}
.sesti{
    grid-area:sesta;
}
@media screen and (max-width:720px){
    .tekst{
        display:block;
    }
    .slike{
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(6, 20vw);
        grid-template-areas: 
        "prva druga"
        "treca treca"
        "treca treca"
        "cetvrta cetvrta"
        "cetvrta cetvrta"
        "peta sesta";
    }
}
@media screen and (max-width:480px){
    body{
        padding:100px 20px;
    }
    h1{
        font-size: 25px;
    }
    .slike{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 35vw);
        grid-template-areas: 
        "prva"
        "druga"
        "treca"
        "cetvrta"
        "peta"
        "sesta";
    }
    .pravougaonik{
        font-size: 5vw;
    }
}